dn: OU=SSSD Test Servers,{{ samba_realm|domain2dn }}
objectClass: top
objectClass: organizationalUnit
ou: SSSD Test Servers
instanceType: 4
name: SSSD Test Servers
objectCategory: CN=Organizational-Unit,CN=Schema,CN=Configuration,{{ samba_realm|domain2dn }}
